<div class="container">
    <h1>Service Status</h1>
    <div class="services">
        {{#each status}}
            <div class="service">
                <span class="state {{statusClass status}}"></span>
                <h2>{{name}}</h2>
                <span class="tasks">({{up}}/{{tasks}})</span>
            </div>
        {{/each}}
    </div>
</div>
<script src="script.js"></script>
