* {
    font-family: Roboto, sans-serif;
}

body:not(.error) {
    margin: 0 16px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.service {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.state {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 16px;
}

h2 {
    margin: 8px;
}

.state.running {
    background: green;
}

.state.partial {
    background: yellow;
}

.state.error {
    background: red;
}

.state.pending {
    background: #0000FF;
    animation: pulse 1s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

body.error {
    margin: 16px;
}

@keyframes pulse {
    0% {
        background-color: #0000FF;
    }
    100% {
        background-color: #7777FF;
    }
}
